<h1>Todo一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.todo.due') %></th>
      <th><%= t('activerecord.attributes.todo.priority') %></th>
      <th><%= t('activerecord.attributes.todo.title') %></th>
      <th><%= t('activerecord.attributes.todo.contents') %></th>
      <th><%= t('activerecord.attributes.todo.status') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.due %></td>
        <td><%= todo_priority todo %></td>
        <td><%= todo.title %></td>
        <td><%= todo.contents %></td>
        <td><%= todo_status todo %></td>
        <td><%= link_to '表示', todo %></td>
        <td><%= link_to '編集', edit_todo_path(todo) %></td>
        <td><%= link_to '削除', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規', new_todo_path %>
